<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources />
  <disabledPackageSources>
    <add key="msbuild" value="true" />
    <add key="netcore" value="true" />
    <add key="myget.master" value="true" />
  </disabledPackageSources>
</configuration>
